
#swagger
spring.profiles.active=swagger

#db
spring.data.mongodb.uri=mongodb://localhost:27017/test1

#web
request.timeout=30000

#fileupload
spring.servlet.multipart.enabled=true
spring.servlet.multipart.file-size-threshold=2KB
spring.servlet.multipart.max-file-size=2000MB
spring.servlet.multipart.max-request-size=2150MB
